{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <nav  class="col-md-2 col-sm-4  profile-sidebar">
            <div class="text-center mt-4">
                <img src="{{user.profile.avatar.url}}" class="img-fluid avatar-xxl rounded" alt="Profile Photo">
                <h5 class="mt-3">{{user.username}}</h5>
                <small><p class="mb-0">{{user.profile.career}}</p></small>
                <!-- Social Links -->
                <div class="social-links">
                    <a href="{{user.profile.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="{{user.profile.github}}" target="_blank"><i class="fab fa-github"></i></a>
                    <!-- Add more social links as needed -->
                </div>
            </div>
            <hr class="bg-light">
    
            <div class="p-3">
            <ul class="nav flex-column">
                <li class="list-group-item">
                    <a class="list-group-item-action active" href="#about">About</a>
                </li>
                <li class="list-group-item pt-3">
                    <a class="list-group-item-action" href="#Education">Education</a>
                </li>
                <li class="list-group-item pt-3">
                    <a class="list-group-item-action" href="#Courses">Courses</a>
                </li>
                <li class="list-group-item pt-3">
                    <a class="list-group-item-action" href="#Skills">Skills</a>
                </li>
                <!-- Add more navigation items as needed -->
            </ul>
            </div>
        </nav>

        <main class="col-md-10 ms-sm-auto profile-content m-0 p-0">
            
            <!-- About Section -->
            <section id="about" class="bg-white p-5">
                <div class="card shadow-lg bg-light border border-0 my-5">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center border-end mb-3 mb-md-0">
                                <img src="{{user.profile.avatar.url}}" class="img-fluid avatar-xxl rounded" alt="Abdullah Mofareh's Photo">
                                <h5 class="font-size-13 mb-0 text-uppercase">{{user.username}}</h5>
                                <p class="mb-0 text-muted">{{user.profile.career}}</p>
                            </div>
                            <div class="col-md-9">
                                <div class="ms-3">
                                    <div>
                                        <h4 class="card-title display-4">ABOUT ME</h4>
                                        <div class="row my-4">
                                            <p class="lead">{{user.profile.bio}}</p>
                                        </div>
                                    </div>
                                    <!-- Contact Info -->
                                    <div class="row my-4">
                                        <div class="col-md-6">
                                            <div>
                                                <div class="mb-2">
                                                    <i class="bi bi-envelope me-2"></i>
                                                    <a href="mailto:{{user.email}}" class="text-muted">{{user.email}}</a>
                                                </div>
                                                <div>
                                                    <i class="bi bi-phone me-2"></i>
                                                    <a href="tel:12345678" class="text-muted">12345678</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Social Links and Update Profile Button -->
                                    <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link  px-md-4" href="{{user.profile.linkedin}}" target="__blank">
                                                <i class="bi bi-linkedin text-dark"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-md-4" href="{{user.profile.github}}" target="__blank">
                                                <i class="bi bi-github text-dark"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- Education Section -->
            <section id="Education" class="bg-light p-5">
                <div class="card shadow-lg bg-white border border-0 my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ms-3">
                                    <div>
                                        
                                        {% if request.user.is_authenticated and request.user.id == user.id %}
                                        <div class="row">

                                            <div class="col-10">
                                                <h4 class="display-4 text-center">Education</h4> 
    
                                            </div>
                                            <div class="col-2 d-flex align-items-center">
                                                <button type="button" class="btn btn-primary w-40" data-toggle="modal" data-target="#addeducationModal">
                                                    Add Education
                                                  </button> 
                                              </div>
                                        </div>
                                        {% else %}
                                        <div class="col-12">
                                            <h4 class="display-4 text-center">Education</h4> 

                                        </div>
                                        {% endif %}
                                        <hr>
                                        <div class="row my-4">
                                            {% for education in educations  %}
                                            <div class="col-4 text-start">
                                                
                                                <h5 class="font-size-13 mb-0 text-bold">{{education.qualification}}</h5>
                                                <p class="mb-0 text-muted">{{education.specialization}}</p>
                                            </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    <!-- Add ducation Modal -->
                                    <div class="modal fade" id="addeducationModal" tabindex="-1" role="dialog" aria-labelledby="addeducationModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="addeducationModal">Add Skill</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            <!-- education form -->
                                            <form action="{% url 'user:add_education' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                <label >University Name</label>
                                                <input type="text" class="form-control" name="university_name" required>
                                                </div>
                                                <div class="form-group">
                                                <label for="skillLevel">qualification</label>
                                                <select class="form-control" id="skillLevel" name="qualification" required>
                                                    {% for key, value in qualifications %}
                                                    <option value="{{key}}">{{value}}</option>
                                                    {% endfor %}

                                                </select>
                                                </div>
                                                <div class="form-group">
                                                    <label >Specialization</label>
                                                    <input type="text" class="form-control" name="specialization" required>
                                                    </div>
                                                <div class="form-group">
                                                    <label >Start_Year</label>
                                                    <input type="date" class="form-control" name="start_year" required>
                                                    </div>
                                                <div class="form-group">
                                                        <label >End Year</label>
                                                        <input type="date" class="form-control" name="end_year" required>
                                                    </div>
                                                <button type="submit" class="btn btn-primary">Add Education</button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- Courses Section -->
            <section id="Courses" class="bg-white p-5">
                <div class="card shadow-lg bg-light border border-0 my-5">
                    <div class="card-body">
                        <div class="row">
                            <div>
                                <h4 class="display-4 text-center">Courses</h4>
                                <hr>
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">                                
                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Personal_photo.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            </div>
                                    </div>
                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Personal_photo.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Personal_photo.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
    
            </section>
    
            <!-- Skills Section -->
            <section id="Skills" class="bg-light  p-5" >
                <div class="card shadow-lg  bg-white border border-0 my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ms-3">
                                    <div>

                                        {% if request.user.is_authenticated and request.user.id == user.id %}
                                        <div class="row">

                                            <div class="col-10">
                                                <h4 class="display-4 text-center">Skills</h4> 
    
                                            </div>
                                            <div class="col-2 d-flex align-items-center">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSkillModal">
                                                    Add Skill
                                                  </button> 
                                              </div>
                                        </div>
                                        {% else %}
                                        <div class="col-12">
                                            <h4 class="display-4 text-center">Skills</h4> 

                                        </div>
                                        {% endif %}
                                        <hr>

                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                            {% for s in skills %}
                                            <div class="col">
                                            <label for="">{{s.skill}}</label>
                                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar bg-dark" style="width: {{s.proficiency_rate}}%">{{s.proficiency_rate}}%</div>
                                            </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add skills Modal -->
                <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="addSkillModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="addSkillModalLabel">Add Skill</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <!-- Skill form -->
                        <form id="addSkillForm" action="{% url 'user:add_skill' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                            <label for="skillName">Skill Name:</label>
                            <input type="text" class="form-control" id="skillName" name="skill" required>
                            </div>
                            <div class="form-group">
                            <label for="skillLevel">Proficiency Rate:</label>
                            <select class="form-control" id="skillLevel" name="proficiency_rate" required>
                                <option value="10">10%</option>
                                <option value="20">20%</option>
                                <option value="30">30%</option>
                                <option value="40">40%</option>
                                <option value="50">50%</option>
                                <option value="60">60%</option>
                                <option value="70">70%</option>
                                <option value="80">80%</option>
                                <option value="90">90%</option>
                                <option value="100">100%</option>
                            </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Skill</button>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
        </main>

    </div>


</div>
{% endblock %}

