
{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <nav class="col-md-3 col-sm-12 profile-sidebar">
            <div class="text-center mt-4">
                <img src="{{user.profile.avatar.url}}" class="img-fluid avatar-xxl rounded" alt="Profile Photo">
                <h5 class="mt-3">{{user.first_name}} {{user.last_name}}</h5>
                <small><p class="mb-0">{{user.profile.career}}</p></small>
                <!-- Social Links -->
                <div class="social-links">
                    <a href="{{user.profile.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="{{user.profile.github}}" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <hr class="bg-light">
            <div class="p-3">
                <ul class="nav flex-column">
                    <li class="list-group-item">
                        <a class="list-group-item-action active" href="#about">About</a>
                    </li>
                    <li class="list-group-item pt-3">
                        <a class="list-group-item-action" href="#Education">Education</a>
                    </li>
                    <li class="list-group-item pt-3">
                        <a class="list-group-item-action" href="#Courses">Courses</a>
                    </li>
                    <li class="list-group-item pt-3">
                        <a class="list-group-item-action" href="#Skills">Skills</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto profile-content m-0 p-0">
            <!-- About Section -->
            <section id="about" class="bg-white p-5">
                <div class="card shadow-lg bg-light border border-0 my-5">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-3 text-center border-end mb-3 mb-md-0">
                                <img src="{{user.profile.avatar.url}}" class="img-fluid avatar-xxl rounded" alt="Photo">
                                <h5 class="font-size-13 mb-0 text-uppercase">{{user.first_name}} {{user.last_name}}</h5>
                                <p class="mb-0 text-muted">{{user.profile.career}}</p>
                            </div>
                            <div class="col-sm-12 col-md-9">
                                <div class="ms-3">
                                    <h4 class="card-title display-4">ABOUT ME</h4>
                                    <p class="lead">{{user.profile.bio}}</p>
                                    <div class="row my-4">
                                        <div class="col-md-6">
                                            <div class="mb-2">
                                                <i class="bi bi-envelope me-2"></i>
                                                <a href="mailto:{{user.email}}" class="text-muted">{{user.email}}</a>
                                            </div>
                                            <div>
                                                <i class="bi bi-phone me-2"></i>
                                                <a href="tel:12345678" class="text-muted">12345678</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Social Links and Update Profile Button -->
                                    <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link  px-md-4" href="{{user.profile.linkedin}}" target="__blank">
                                                <i class="bi bi-linkedin text-dark"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-md-4" href="{{user.profile.github}}" target="__blank">
                                                <i class="bi bi-github text-dark"></i>
                                            </a>
                                        </li>
                                        {% if request.user.is_authenticated and user.id == request.user.id %}
                                        <li class="nav-item">
                                            <a href="{% url 'user:update_profile' user.id %}" ><i class="btn btn-dark">Update Profile</i></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Education Section -->
            <section id="Education" class="bg-light p-5">
                <div class="card shadow-lg bg-white border border-0 my-5">
                    <div class="card-body">
                        <h4 class="display-4 text-center">Education</h4>
                        {% if request.user.is_authenticated and user.id == request.user.id %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEducationModal">
                            Add Education
                          </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEducationModal">
                            Delete Education
                          </button>
                          {% endif %}
                        <hr>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            {% for education in educations %}
                            <div class="col">
                                <div class="card bg-light shadow-lg">
                                    <div class="card-body">
                                        <h5 class="card-title font-size-13 mb-2 text-bold">{{ education.qualification }}</h5>
                                        <small class="text-muted">{{ education.start_year }} - {{ education.end_year }}</small>
                                        <p class="card-text mb-2 text-bold">{{ education.university_name }}</p>
                                        <p class="card-text mb-0 text-muted">{{ education.specialization }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>




                <!-- Add Education Modal -->
<div class="modal fade" id="addEducationModal" tabindex="-1" aria-labelledby="addEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEducationModalLabel">Add Education</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'user:add_education' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="qualification" class="form-label">Qualification</label>
              <select class="form-select" id="qualification" name="qualification" required>
                {% for key, value in qualifications %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="university-name" class="form-label">University Name</label>
              <input type="text" class="form-control" id="university-name" name="university_name" required>
            </div>
            <div class="mb-3">
              <label for="specialization" class="form-label">Specialization</label>
              <input type="text" class="form-control" id="specialization" name="specialization" required>
            </div>
            <div class="mb-3">
              <label for="start-year" class="form-label">Start Year</label>
              <input type="date" class="form-control" id="start_year" name="start_year" required>
            </div>
            <div class="mb-3">
              <label for="end-year" class="form-label">End Year</label>
              <input type="date" class="form-control" id="end_year" name="end_year" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Education</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Delete Education Modal -->
  <div class="modal fade" id="deleteEducationModal" tabindex="-1" aria-labelledby="deleteEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteEducationModalLabel">Delete Education</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'user:delete_education_view' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="education-id" class="form-label">Select Education to Delete</label>
              <select class="form-select" id="education-id" name="education-id" required>
                {% for education in educations %}
                <option value="{{ education.id }}">{{ education.qualification }} - {{ education.university_name }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-danger">Delete Education</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  
            </section>
            
            <!-- Courses Section -->
            <section id="Courses" class="bg-white p-5">
                <div class="card shadow-lg bg-light border border-0 my-5">
                    <div class="card-body">
                        <h4 class="display-4 text-center">Courses</h4>
                        <hr>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <!-- Course Cards -->
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Skills Section -->
            <section id="Skills" class="bg-light p-5">
                <div class="card shadow-lg bg-white border border-0 my-5">
                    <div class="card-body">
                        <h4 class="display-4 text-center">Skills</h4>
                        {% if request.user.is_authenticated and user.id == request.user.id %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSkillModal">Add Skill</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteSkillModal">
                            Delete Skill
                          </button>
                          {% endif %}
                        <hr>
                        <div class="row row-cols-1 row-cols-md-3 g-3">
                            <!-- Skill Progress Bars -->
                            {% for s in skills %}
                            <div class="col">
                            <label for="">{{s.skill}}</label>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: {{s.proficiency_rate}}% ;background-color:green;">{{s.proficiency_rate}}%</div>
                            </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <!-- Add Skill Modal -->
<div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'user:add_skill' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addSkillModalLabel">Add Skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="skillName" class="form-label">Skill</label>
                        <input type="text" class="form-control" id="skillName" name="skill" required>
                    </div>
                    <div class="mb-3">
                        <label for="proficiencyRate" class="form-label">Proficiency Rate</label>
                        <input type="number" class="form-control" id="proficiencyRate" name="proficiency_rate" min="0" max="100" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Skill Modal -->
<div class="modal fade" id="deleteSkillModal" tabindex="-1" aria-labelledby="deleteSkillModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteEducationModalLabel">Delete Skill</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form method="post" action="{% url 'user:delete_skill' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="education-id" class="form-label">Select Skills to Delete</label>
                  <select class="form-select" id="education-id" name="skill-id" required>
                    {% for skill in skills %}
                    <option value="{{ skill.id }}">{{ skill.skill }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-danger">Delete Skill</button>
              </form>
          </div>
        </div>

</div>


            </section>
        </main>
    </div>
</div>

{% endblock %}
